@model BlogWebApp.ViewModels.QueryViewModel<BlogWebApp.ViewModels.UserQueryViewModel>


@{
    ViewData["Title"] = "GetUserData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<div>
    <a class="btn btn-default" asp-action="Index">Back to Queries List</a>
</div>
<h4>5. Show the structure: User, Last Post, Number of comments for last post, Tasks in To Do, most popular post</h4>
<div class="col-md-12">
    @using (Html.BeginForm("GetUserData", "Query", FormMethod.Post))
    {
    <div class="col-md-12">
        @Html.LabelFor(m => m.Id)
    </div>
    <div class="col-md-12">
        @Html.TextBoxFor(x => x.Id)
    </div>
    <div class="col-md-12">
        @Html.ValidationMessageFor(m => m.Id, "")
    </div>
    <div class="col-md-12">
        <input type="submit" class="btn btn-primary" value="Search" />
    </div>
    }
</div>
<div class="col-md-12">
    @if (Model.IsExistQueryResult && Model.QueryResult != null)
    {
        <div class="col-md-12">
            <h4>Query Result:</h4>
        </div>
        <div class="col-md-12">
            <p>User Id: @Model.QueryResult.User.Id</p>
            <p>1. User Name: @Model.QueryResult.User.Name</p>
            <p>2. Last post by user (by date): @Model.QueryResult.LastPost.Title  Post Date: @Model.QueryResult.LastPost.CreatedAt</p>
            <p>3. Number of comments under the last post:@Model.QueryResult.LastPost.Comments.Count</p>
            <p>4. Number of uncompleted tasks for the user: @Model.QueryResult.UncompletedTodosCount</p>
            <p>5. The most popular user post by comments: @Model.QueryResult.PostWithMaxComments</p>
            <p>6. The most popular user post by likes: @Model.QueryResult.PostWithMaxLikes</p>
        </div>
    }
    else
    {
        <div class="col-md-12">
            <p>The query result is missing.</p>
        </div>
    }
</div>